// font-style
@font-face {
   font-family: "SVN-Avo";
   src: url('../assets/fonts/SVN-Avo.ttf');
}

@font-face {
   font-family: "SVN-Avo-italic";
   src: url('../assets/fonts/SVN-Avo-italic.ttf');
}

@font-face {
   font-family: "SVN-Avo-bold";
   src: url('../assets/fonts/SVN-Avo-bold.ttf');
}

@font-face {
   font-family: "SVN-Avo-bold-italic";
   src: url('../assets/fonts/SVN-Avo-bold-italic.ttf');
}